.footer-container{
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.footer-section-about{
    display: flex;
    justify-content: center;
}
.footer-section-links{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer-section-links a{
    text-decoration: none;
    color: white;
    transition: 0.3s ease-in-out;
}
.footer-section-links a:hover{
    color: #4fa3ff;
}

.footer-section-socials{
    display: flex;
    align-items: center;
    flex-direction: column;

}
.footer-icons{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px 10px;
    font-size: 1.7rem;
    
   
}
.footer-icons a{
    color: white;
    transition: ease 0.3s;
}
.footer-icons a:hover{
    color: #4fa3ff;
    transform: scale(1.3);
}
